<div id="containerSummary" >
    <div class="containerTicket">
        <div *ngFor = "let itemOrder of orderSummary" class="ticket">
            <img src="{{itemOrder.image}}" alt="">
            <div class="containerInfoTicket">
                <div class="containertext">
                    <p>{{itemOrder.name}}</p>
                    <p>$ {{itemOrder.price}}</p>
                </div>
                <div class="containerButtons">
                    <button type="button" id="deleteButton"></button>
                    <button type="button" id="editButton"></button>
                </div>

            </div>
            
        </div>

    </div>

       

      <div id="footSummary">
        <button>Send</button> 
        <span>
        Total $ <p>20000</p>
        </span>
    </div> 

</div>
