$color-orange:#FF9F00;
$color-blackModal: #32383E;
$color-red:#D0021B;
$color-black: black;
//$color-overline: #E5E5E5;

.containerModal{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #e5e5e577;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0; 
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 705px;
    height: 500px;
    background-color: $color-blackModal;
    position: relative;
    border-radius: 25px;
    margin: auto;
    .containerTitles{
        width: 100%;
        display: flex;
        justify-content: space-around; 
    }
}
.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 352px;
    height: 80px;
    margin-left: 300px;
    margin-bottom: 5px;
    transform: translateY(-30px);
    .burguer{
            justify-content: center;
            width: 88px;
            height: 55px;
    }
    #close{
            background-image: url(../../../../assets/images/xmodal.png);
            width: 57px;
            height: 57px;
            background-color: rgba(240, 248, 255, 0);
            border-color: rgba(240, 248, 255, 0);
            background-repeat: no-repeat;
            background-size: 97%; 
            margin-top: 40px;
            justify-content: flex-end;
            a{
                list-style: none;
                color:rgba(128, 128, 128, 0);
                font-size: 20px;
            }
    }  
}
.containerTarget{
    display: flex;
    flex-direction: row;
    width: 100%;
    .containerOptions{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .containerAdd{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
}
.productTarget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 94px;
    border: $color-black solid 3px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 10px;
    background-color:$color-orange;
    p{
        font-size: 19px;
    }
    input{
        width: 21px;
        height: 21px;
        margin-top: 3px;
    }
}
.buttonAdd{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 569px;
    right: 216px;
     #add{
            width:140px;
            height:45px;
            background-color:$color-orange;
            border: $color-black solid 3px;
            border-radius:15px;
            font-size:25px;
        }
}

