<div class="containerModal">
    <div class="modal">
        <div *ngFor = "let product of data?.menu">
            <div *ngFor = "let item of product.Additions" class="productTarget">
                <img src="{{item.image}}" alt="">
                <p>{{item.add}}</p>
                <p>{{item.price}}</p>
            </div>
            <div *ngFor = "let item of product.options" class="productTarget">
                <img src="{{item.image}}" alt="">
                <p>{{item.option}}</p>
            </div>
            
        </div>
        <div class="modalbox resize">
        <button type="button" (click) = "closeModal ('close')" id="close"> </button>
        </div>
    </div>
</div>