<div class="containerModal">
    <div class="modal">
        <div class="containerHeader">
            <!-- <div class="containerBurguer">  -->
                <img src="../../../../assets/images/doubleBurguer.png" alt="" class="burguer">
            <!-- </div> -->
            <!-- <div class="modalbox resize"> -->
                <button type="button" (click) = "closeModal ('close')" id="close"> </button>
            <!-- </div> -->
        </div>
        <div class="containerTitles">
            <img src="../../../../assets/images/types.png" alt="">
            <img src="../../../../assets/images/additions.png" alt="">
        </div>
        <form [formGroup] ="modalForm">
        <div *ngFor = "let product of data?.menu" class="containerTarget">
            <div class="containerOptions">
                <div *ngFor = "let item of product.options" class="productTarget" >
                    <img src="{{item.image}}" alt="">
                    <p>{{item.option}}</p>
                    
                    <input type="radio" id="optionRadio" name="optionTypeBurguer" formControlName="optionTypeBurguer" [value]="item.option">
                    
      
                </div>
            </div>
            <div class="containerAdd">
                <div *ngFor = "let item of product.Additions" class="productTarget">
                    <img src="{{item.image}}" alt="">
                    <p>{{item.add}} ${{item.price}}</p>
                    <!-- <p> ${{item.price}}</p> -->
                        <input type="checkbox" id="addCheck" [name]="item.add" [formControlName]="item.add" [checked]="item.add" >                    
                </div>
               
            </div>

        </div>
        </form> 
        <div class="buttonAdd">
             <button id= "add" (click)="onSubmit()">Add</button>
        </div>
        
    </div>
</div>