<main>
    <div class="overline"></div>
    <div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img src="../../assets/images/BurguerQueen.jpeg" alt="">
            </div>
            <div id="inputTable">
                <img src="../../../assets/images/inputTable.png" alt="">                    
                <p>{{numberTable}}</p>
            </div>
            <div id="inputUser">
                <img src="../../../assets/images/inputUser.png" alt="">
                <p>{{nameDiner}}</p>
            </div>           
        </div>  
        <div id="backArrowContainer">
            <button type="button" id="backArrow"> 
                <a routerLink = "/waiter/select-table">Back</a>
            </button>
         </div>   
        
         <div class="breakfast"> 
            <div *ngFor = "let product of data?.menu" > <!--El signo ? indica que espera que se cargue la data para ejecutar el for es como un await--> 
               <div>{{product.name}}</div>
               <div>{{product.image}}</div>
            </div>
           
         </div>
    </div>

</main>

