<main>
    <div class="overline"></div>
    
    <div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img src="../../assets/images/BurguerQueen.jpeg" alt="">
            </div>
            <div id="inputTable">
                <img src="../../../assets/images/inputTable.png" alt="">                    
                <p>{{numberTable}}</p>
            </div>
            <div id="inputUser">
                <img src="../../../assets/images/inputUser.png" alt="">
                <p>{{nameDiner}}</p>
            </div> 
            
            <button type="button" id="backArrow"> 
                <a routerLink = "/waiter/select-table">Back</a>
            </button>
                     
        </div>  
       
        <div id="orderItem"><app-create-order-item></app-create-order-item></div>

        
         
    </div>

</main>

