<main>
    <div class="overline"></div>
    <div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img src="../../assets/images/BurguerQueen.jpeg" alt="">
            </div>
            <div class="tittleContainer">
                <h1 class="tittle">Paradise Burguer</h1>
            </div>
            
        </div>

        <div class="buttonsContainer">
            <button class="buttons" id="buttonChef">Chef</button>
            <button class="buttons" id="buttonWaiter">Waiter</button>
        </div>
    </div>
</main>

