<main>
    <div class="overline"></div><div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img src="../../assets/images/BurguerQueen.jpeg" alt="">
            </div>
        </div>

      <form formGroup="dinnerForm" (ngSubmit)="onSubmit()">
      <div class= "formContainer">
        <label class="numberTable" > </label>
        <select class= "tableSelect" name = "table" formControlName="tables" >
         <option [value]=" " selected disabled>Select Table</option> 
          <option [value]="item" *ngFor="let item of  tables">{{item}}</option>
        </select>
        
        <label class= "nameDinner "for="name">
        </label>
        <input class="form-control" formControlName="name" placeholder="Name Diner" >
      </div>

      <div class = "buttonsForm">
        <button class="buttons" id=buttonBreakfast type="submit">Breakfast</button>
        <button class="buttons" id=buttonLunch type="submit">Lunch / Dinner</button>
      </div>
          

            
          
      </form>
    </div>
   

</main>
