main{
    display: flex;
    width: 100%;
    height: 100%;  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    height: 80%;
}
.overline{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.425), 
    rgba(255, 255, 255, 0.425)); 
    z-index: -1; 
}

.headerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 310px;
}
.logoContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    
}
/* Vista de Select Table*/

.formContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:500px;
    margin: auto;
}

.tableSelect{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    border: 3px solid #000000;
    margin-top:51px ;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Risque', cursive;
    font-size: 38px;
    padding-left: 65px;
    cursor:pointer;
}

.form-control{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    border: 3px solid #000000;
    margin-top:51px ;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Risque', cursive;
    font-size: 38px;
    padding-left: 65px;
    cursor:pointer;
    box-sizing: border-box;

}

.buttonsForm{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 500px;
    height: 50%;
    margin: auto; 
}
.buttonsForm > div{
    width:200px;
}
.buttons{
    width: 200px;
    height: 93px;
    border-radius: 25px;
    border: 3px solid #000000;
    margin-top:51px ;
    background-color: #FF9F00;
    color: #000000;
    font-family: 'Risque', cursive;
    font-size: 30px;
    padding-left: 62px;
    cursor:pointer;
}
#buttonBreakfast{
    background-image: url(../../../assets/images/coffe.png);
    background-repeat: no-repeat;
    background-position-x: 14%;
    background-position-y: center;
    background-size: 20%;
}
#buttonLunch{
    background-image: url(../../../assets/images/Hamburger.svg);
    background-repeat: no-repeat;
    background-position-x: 14%;
    background-position-y: center;
    background-size: 27%;

}
