main{
    display: flex;
    width: 100%;
    height: 100%;  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    height: 80%;
}

.overline{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.425), 
    rgba(255, 255, 255, 0.425)); 
    z-index: -1; 
}

.headerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}
.logoContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 70%;
}
/* Vista de Select Table*/

.formContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:500px;
    margin: auto;
}

.tableSelect{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    border: 3px solid #000000;
    margin-top:51px ;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Risque', cursive;
    font-size: 38px;
    padding-left: 65px;
    cursor:pointer;
    

}

.form-control{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    border: 3px solid #000000;
    margin-top:51px ;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Risque', cursive;
    font-size: 38px;
    padding-left: 65px;
    cursor:pointer;
    box-sizing: border-box;

}

.buttonsForm{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
}
.buttons{
    width: 200px;
    height: 80px;
    border-radius: 25px;
    border: 3px solid #000000;
    margin-top:51px ;
    background-color: #FF9F00;
    color: #000000;
    font-family: 'Risque', cursive;
    font-size: 30px;
    padding-left: 65px;
    cursor:pointer;
}
