<main>
    <div class="overline"></div><div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img src="../../assets/images/BurguerQueen.jpeg" alt="">
            </div>
        </div>


      <form [formGroup] ="dinnerForm">

      <div class= "formContainer">

        <input class="form-control" formControlName="name" placeholder="Name Diner" >
        
        <select class= "tableSelect" name = "table" formControlName="selectTables" >
         <option value="" selected disabled>Select Table</option> 
          <option [value]="item" *ngFor="let item of  tables">{{item}}</option>
        </select>
        
      </div>

      <div class = "buttonsForm">
        <div><button class="buttons" (click) = "onSubmit()" id= "buttonBreakfast" type="button">Breakfast</button></div>
        <div><button class="buttons" (click) = "onSubmit()" id= "buttonLunch" type="button">Lunch</button></div>
      </div>
       
            
      
      </form>
    </div>
   

</main>
