<main>
    <div class="overline"></div>
    <div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img src="../../assets/images/BurguerQueen.jpeg" alt="">
            </div>
        </div>
        <form formGroup = "dinerForm">
            <select>
                    <option value="">Select one</option>
                    <option value="table1">Table 1</option>
                    <option value="table1">Table 2</option>
                    <option value="table1">Table 3</option>
                    <option value="table1">Table 4</option>
                    <option value="table1">Table 5</option>
                    <option value="table1">Table 6</option>
                    <option value="table1">Table 7</option>
                    <option value="table1">Table 8</option>
                    <option value="table1">Table 9</option>
            </select>
            <label for="">Name diner</label>    
                <input type="text" placeholder="Name diner" required >  

            <button class="button" type="submit">Breakfast</button>
            <button class="button" type="submit">Lunch/Dinner</button>
        </form>              
    </div> 
</main>                    
   